body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230630/pngtree-3d-render-of-majestic-clouds-in-the-sky-image_3694765.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#plane1 , #plane2{
    width: 200px;
    height: 200px;
    position: fixed;
    float: left;
    transition: 0.5s;
    z-index: 1;
}

#plane1{
    top: 15%;
    left: 0;
}

#plane2{
    top: 0;
    right: 0;
}
